body {
  background-color: green; 
  border: 10px solid red;
  color: black !important;
  p {
    border: 1px solid red; 
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
  }
}